<div id="img-container">
    <img src="https://images.wallpaperscraft.com/image/single/man_mountains_clouds_118031_2560x1080.jpg" width="100%">
    <div id="title-container">
        <h2>Discover the colorful world</h2>
        <h1 id="title">NEW ADVENTURE</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Suspendisse rutrum velit et vulputate rutrum. Nulla placerat ut eros vel tempus. 
        </p>
        <button>DISCOVER NOW</button>
    </div>
</div>
<app-service-panel></app-service-panel>