#img-container{
    position: relative;
    width: 100%;
}

#title-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    
    h2 {
        margin: 0;
        text-align: center;
    }

    h1 {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 50px;
        text-align: center;
        border-bottom: 2px solid white;
        width: 60%;
        padding: 8px;
    }

    p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 40%;
        padding: 8px;
    }

    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding: 10px 30px;
        color: white;
        font-weight: bold;
        background-color: #C0FF9D;
        border-radius: 12px;

        &:hover {
            cursor: pointer;
            background-color: #8fff52;
        }
    }
}