#title {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    text-align: center;
    border-bottom: 2px solid rgb(221, 221, 221);
    width: 30%;
    padding: 8px;
    color: #8ee260;
}

#service-list-container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 150px;
}

.service-item{
    width: 350px;
    h2 {
        color: #8ee260;
    }

    .article-title{
        font-weight: bold;
    }

    .article-description {
        color: rgb(186, 182, 182);
        font-size: smaller;
    }
}